.banner {
   /* Degradado a transparente a la derecha */
   background-image: linear-gradient(266deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 36%),
   /* Luego, la imagen abajo */
  url(../../images/background.png);  
  /* 2. Haz que la imagen de fondo  cubra el div del banner */
	background-size: cover;
  /* 3. Centra la imagen */
	background-position: center;
  padding: 150px 20px;
}

.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
  margin-bottom: 50px;
}