.btn-blue {
    background-color: #38be92;
    color:whitesmoke;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}